{% extends 'base.html' %}

{% block content %}

{% for adv in advertisements %}

<div class="card div-position" style="width: 18rem;">
  <img src="{{ adv.img.url }}" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{ adv.title }}</h5>
      <p class="card-text">{{ adv.about }}</p>
      <p class="card-text">Цена: {{ adv.price }}₽</p>
    <a href="{% url 'advertisement' adv.slug %}" class="btn btn-primary">Читать подробнее</a>
  </div>
</div>

{% endfor %}

{% endblock %}